/*testa*/
body{
    
    margin: 0px;
}

.banner.bghead{
    width: 100%;
    margin: 0px;
    height: 200px;
    background-image: url(images/pattern.png);
    background-repeat: repeat-x;
    background-color: lightskyblue;
}

.banner{
    width: 380px;
}

h1{
    font-size: 40px;
    margin: auto;

}

a{
    text-decoration: none;
}

.sottotitoli{
    width: 100%;
    color: grey;

}

#contenitore{
    width: auto;
    margin:0 180px;
   
}

.spazio{
    height: 30px;
}

/* fase pre tabella*/
.evidenziatore{
    background-color:yellow;

}

ul{
    padding-inline-start: 17px;
}
/*tabella*/

table{
    border-collapse:collapse;
}



thead{
    background-color:blue;
    color: white ;
}

.corta{
    width: 200px;
    text-align: left;
    
}

.diversa{
    background-color: lightgrey;
}

.ultima{
    background-color: lightblue;
}

td{
    margin: 0px;

}
.bordi{
    background-color: lightblue;
}

/*finale*/

.piede.dx{
    background-image: url(images/monitor.jpg);
    width: 300px ;
    height: 200px;
}

.piede.sx{
    background-image: url(images/graph.jpg);
    width: 300px;
    height: 200px;

}

.descrizione{
    color: white;
}

